.detail
    .info
        .title Restaurant
        | #{review.restaurant.name}
        .title Review Title
        | #{review.title}
        .title Review Description
        | #{review.description}
        .title Personal Rating
        | #{review.rating}
        .title Review Date
        | #{review.date.toLocaleString()}
