.detail
    .name #{review.title}
    .info
        .title Restaurant
        | #{review.restaurant_name}
        .title Description
        | #{review.description}
        .title Rating
        | #{review.rating}
        .title Date
        | #{review.date}
