ul.review-list
    each r in reviews
        li
            .detail
                .title
                    a(href=`./reviews/id/${r._id}`) #{r.title}
                    if true || session.user && (r.user._id.equals(session.user._id))
                        a(href=`./edit-review/${r.restaurant._id}/${r.id}`)
                            i.fas.fa-edit(style="color:wheat;float:right;")
                - rating = r.rating
                include rating-stars
                .clearfloat
                .date
                    | on #{r.date.toLocaleString()}
                .descript
                    | #{r.description}
                .authority
                    a.username(href=`./reviews/user/${r.user._id}`)
                        | #{r.user.name}
                    | on
                    a.rstrntname(href=`./restaurants/id/${r.restaurant._id}`)
                        | #{r.restaurant.name}