.detail
    .name #{restaurant.name}
    .photo
        img(src=`${restaurant.photo}`, alt=`${restaurant.name}`)
    .overview
        .title Overview
        | #{restaurant.description}
    .info
        .title Address
        a.address(href="/maps")
            i.fas.fa-map-marker-alt
            | #{restaurant.address}

