extends parents/form

block append content
    .wrapper(style='margin-bottom:2rem')
        - urlGoBack = r ? `/restaurants/id/${r._id}` : '/restaurants'
        a.btn(href=urlGoBack) Go back

    form(method='post', enctype="multipart/form-data")
        if r
            img(src=r.photo)
        label Update the photo of the restaurant
        input(type='file', name='photo', placeholder="Photo")
        if r
            label Name
        input(type='name', name='name', placeholder="Name", value=r ? r.name : "")
        if r
            label Address
        input(type='address', name='address', placeholder='Address', value=r ? r.address : "")
        if r
            label Description
        textarea(name='description', placeholder='Description')
            if r
                | #{r.description}

        button(type='submit') Submit