extends parents/form

block append head
    link(rel='stylesheet', type='text/css', href='/css/inputs.css')

block append content
    .wrapper
        include includes/rstrnt-detail

    form(method='post', style='margin: 2.5rem auto;')
        .heading Add your review

        input.title(type='text', name='title', placeholder='title of review', value = review ? review.title : "")

        br(style='clear:both')
        div.rating-stars-wrapper
            label Choose your rating
            - rating = review ? review.rating : 0.5
            fieldset.rating-stars
                input#star5(type='radio', name='rating', value='5', checked=rating===5)
                label.full(for='star5', title='Awesome - 5 stars')
                input#star4half(type='radio', name='rating', value='4.5', checked=rating===4.5)
                label.half(for='star4half', title='Pretty good - 4.5 stars')
                input#star4(type='radio', name='rating', value='4', checked=rating===4)
                label.full(for='star4', title='Pretty good - 4 stars')
                input#star3half(type='radio', name='rating', value='3.5', checked=rating===3.5)
                label.half(for='star3half', title='Meh - 3.5 stars')
                input#star3(type='radio', name='rating', value='3', checked=rating===3)
                label.full(for='star3', title='Meh - 3 stars')
                input#star2half(type='radio', name='rating', value='2.5', checked=rating===2.5)
                label.half(for='star2half', title='Kinda bad - 2.5 stars')
                input#star2(type='radio', name='rating', value='2', checked=rating===2)
                label.full(for='star2', title='Kinda bad - 2 stars')
                input#star1half(type='radio', name='rating', value='1.5', checked=rating===1.5)
                label.half(for='star1half', title='Weak - 1.5 stars')
                input#star1(type='radio', name='rating', value='1', checked=rating===1)
                label.full(for='star1', title='Sucks big time - 1 star')
                input#starhalf(type='radio', name='rating', value='0.5', checked=rating===0.5)
                label.half(for='starhalf', title='Sucks big time - 0.5 stars')
        br(style='clear:both')
        .description-wrapper
            textarea.description(name='description', cols='30', rows='10', placeholder='review description')
                if review
                    | #{review.description}

        br(style='clear:both')
        button(type='submit') Submit
