extends default

block append head
    script(type='text/javascript', src='/js/showSlides.js')

block content

    figure
        // Slideshow container
        .slideshow-container
            // Full-width images with number and caption text
            each r in rstrnts
                .mySlides.fade
                    a(href=`/restaurants/id/${r.id}`)
                        img(src=`${r.photo}`, alt=`${r.name}`)
                        .text #{r.name}
            // Next and previous buttons
            a.prev(onclick='currentSlide(slideIndex-1)') ❮
            a.next(onclick='currentSlide(slideIndex+1)') ❯
        br
        // The dots/circles
        div(style='text-align:center')
            each _, i in rstrnts
                span.dot(onclick=`currentSlide(${i})`)
    article
        h2 Welcome to HealFood Melbourne!
        span.byline Brought to you by The Artisans
        p
            | With our website, you will be able to find healthy restaurants
            | located in Melbourne. Users are able to leave reviews about the
            | restaurant and recommend healthy meals to ensure that you and your
            | family are making the best choices when you go out to eat. Checkout
            | our Maps page to find restaurants near you, or go to our All
            | Restaurants page to find the complete list of restaurants.