extends parents/default

block append head
    link(rel="stylesheet", href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css",
    integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA==",
    crossorigin="")
    link(rel="stylesheet", href="/css/maps.css")
    // Make sure you put this AFTER Leaflet's CSS
    script(src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js",
    integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg==",
    crossorigin="")
    script(type="text/javascript").
        var rstrntData = !{JSON.stringify(rstrntData)};
    script(type="text/javascript", src="/js/maps.js")

block content
    #mapid