extends default

block append head
    link(rel='stylesheet', type='text/css', href='/css/inputs.css')

block content
    .detail
        .name #{r.name}
        .photo
            img(src=`${r.photo}`, alt=`${r.name}`)
        .overview
            .title Overview
            | #{r.description}
        .info
            .title Rating
                span(style='font-size: 1rem;font-variant: all-petite-caps;padding-left: 1rem;font-family: Arial;')
                    | (Average)
            if r.rating === -1
                | No ratings yet
            .title Address
            a.address(href="/maps")
                i.fas.fa-map-marker-alt
                | #{r.address}


        .Reviews
            .title Reviews
        .btn
            a(href=`/new-review/${r._id}`) Add review

