extends default

block content
    ul.restaurant-list
        each r in rstrnts
            li
                .photo
                    img(src=`${r.photo}`, alt=`${r.name}`)
                .detail
                    a.name(href=`./restaurants/id/${r.id}`)
                        h2 #{r.name}
                    .rating rating: #{r.rating}