extends ../parents/form

block append content
    .wrapper
        a.btn(href=(restaurant ? `/restaurants/id/${restaurant._id}` : '/restaurants')) Go back

    form(method='post', enctype="multipart/form-data")
        if restaurant
            if restaurant.photo
                img(style="margin-top:2rem", src=restaurant.photo)
            label Update the photo of the restaurant
            input(type='file', name='photo', placeholder="Photo")
            label Name
            input(type='name', name='name', placeholder="Name", value=restaurant.name)
            label Address
            input(type='address', name='address', placeholder='Address', value=restaurant.address)
            label Description
            textarea(name='description', placeholder='Description') #{restaurant.description}
        else
            label Update the photo of the restaurant
            input(type='file', name='photo', placeholder="Photo")
            input(type='name', name='name', placeholder="Name")
            input(type='address', name='address', placeholder='Address')
            textarea(name='description', placeholder='Description')

        button(type='submit') Submit

    if restaurant && session.user.roles.includes("admin")
        .wrapper
            a.btn(href=`/deleteRestaurant/${restaurant._id}`, style="color: red;")
                i.fas.fa-exclamation-triangle
                | Delete this restaurant